In [193]:
from langchain_community.utilities import SQLDatabase
mysql_uri = 'mysql+mysqlconnector://root:shreyas@localhost:3306/chinook'
db = SQLDatabase.from_uri(mysql_uri)

In [194]:
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="pr-internal-personnel-45"

In [195]:
import os
from dotenv import load_dotenv
load_dotenv()
openai_api_key = os.getenv("OPENAI_API_KEY")

In [196]:
import json
def pretty_format(data):
    try:
        # Attempt to parse the data as JSON
        parsed_data = json.loads(data)
        # If successful, pretty-print the JSON
        return json.dumps(parsed_data, indent=4)
    except (json.JSONDecodeError, TypeError):
        # If not JSON, print the plain string
        return data
    
from rich.console import Console

console = Console()

In [197]:
from langchain_core.prompts import ChatPromptTemplate

template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)

In [198]:
def get_schema(_):
    schema = db.get_table_info()
    return schema

In [199]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI
from langchain_ollama import OllamaLLM
LLM_MODEL="HridaAI/hrida-t2sql-128k"

#llm = ChatOpenAI(model="gpt-4o", temperature=0, openai_api_key=openai_api_key)
llm = OllamaLLM(model=LLM_MODEL)

def log_and_passthrough(x):
    console.print(pretty_format(x),"\n")
    return x

sql_chain = (
    RunnablePassthrough.assign(schema=get_schema)
    | log_and_passthrough
    | prompt
    | log_and_passthrough
    | llm.bind(stop=["\nSQLResult:"])
    | log_and_passthrough
    | StrOutputParser()
)

In [200]:

sql_chain.invoke({"question": "how many artists are there?"})

{
    'question': 'how many artists are there?',
    'schema': '\nCREATE TABLE album (\n\t`AlbumId` INTEGER NOT NULL, \n\t`Title` VARCHAR(160) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci NOT NULL, \n\t`ArtistId` INTEGER NOT NULL, \n\tPRIMARY KEY (`AlbumId`), \n\tCONSTRAINT
`FK_AlbumArtistId` FOREIGN KEY(`ArtistId`) REFERENCES artist (`ArtistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To
Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE artist
(\n\t`ArtistId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\tPRIMARY KEY (`ArtistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from
artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE customer (\n\t`CustomerId`
INTEGER NOT NULL, \n\t`FirstName` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
\n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Company` VARCHAR(80)
CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE
utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State`
VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Fax` VARCHAR(24) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT
NULL, \n\t`SupportRepId` INTEGER, \n\tPRIMARY KEY (`CustomerId`), \n\tCONSTRAINT `FK_CustomerSupportRepId` FOREIGN
KEY(`SupportRepId`) REFERENCES employee (`EmployeeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from customer
table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSup
portRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima,
2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12)
3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße
34\tStuttgart\tNone\tGermany\t70174\t+49 0711
2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G
1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE employee (\n\t`EmployeeId` INTEGER NOT
NULL, \n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`FirstName`
VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Title` VARCHAR(30) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`ReportsTo` INTEGER, \n\t`BirthDate` DATETIME, \n\t`HireDate` DATETIME,
\n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER
SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Fax` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`EmployeeId`), \n\tCONSTRAINT `FK_EmployeeReportsTo` FOREIGN
KEY(`ReportsTo`) REFERENCES employee (`EmployeeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from employee
table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPost
alCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120
Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780)
428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01
00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403)
262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01
00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403)
262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE genre (\n\t`GenreId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120)
CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`GenreId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from genre
table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE invoice (\n\t`InvoiceId` INTEGER NOT NULL,
\n\t`CustomerId` INTEGER NOT NULL, \n\t`InvoiceDate` DATETIME NOT NULL, \n\t`BillingAddress` VARCHAR(70) CHARACTER
SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingCity` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE
utf8mb3_general_ci, \n\t`BillingState` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`BillingCountry` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingPostalCode`
VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Total` DECIMAL(10, 2) NOT NULL, \n\tPRIMARY KEY
(`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceCustomerId` FOREIGN KEY(`CustomerId`) REFERENCES customer
(`CustomerId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from invoice
table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPosta
lCode\tTotal\n1\t2\t2021-01-01 00:00:00\tTheodor-Heuss-Straße
34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2021-01-02 00:00:00\tUllevålsveien
14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2021-01-03 00:00:00\tGrétrystraat
63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE invoiceline (\n\t`InvoiceLineId` INTEGER NOT NULL,
\n\t`InvoiceId` INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\t`UnitPrice` DECIMAL(10, 2) NOT NULL,
\n\t`Quantity` INTEGER NOT NULL, \n\tPRIMARY KEY (`InvoiceLineId`), \n\tCONSTRAINT `FK_InvoiceLineInvoiceId`
FOREIGN KEY(`InvoiceId`) REFERENCES invoice (`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceLineTrackId` FOREIGN
KEY(`TrackId`) REFERENCES track (`TrackId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from invoiceline
table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t
1\n*/\n\n\nCREATE TABLE mediatype (\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`MediaTypeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from mediatype table:\nMediaTypeId\tName\n1\tMPEG audio
file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE playlist (\n\t`PlaylistId`
INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY
(`PlaylistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from playlist
table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE playlisttrack (\n\t`PlaylistId`
INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\tPRIMARY KEY (`PlaylistId`, `TrackId`), \n\tCONSTRAINT
`FK_PlaylistTrackPlaylistId` FOREIGN KEY(`PlaylistId`) REFERENCES playlist (`PlaylistId`), \n\tCONSTRAINT
`FK_PlaylistTrackTrackId` FOREIGN KEY(`TrackId`) REFERENCES track (`TrackId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from playlisttrack
table:\nPlaylistId\tTrackId\n1\t1\n1\t2\n1\t3\n*/\n\n\nCREATE TABLE track (\n\t`TrackId` INTEGER NOT NULL,
\n\t`Name` VARCHAR(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`AlbumId` INTEGER,
\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`GenreId` INTEGER, \n\t`Composer` VARCHAR(220) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci, \n\t`Milliseconds` INTEGER NOT NULL, \n\t`Bytes` INTEGER, \n\t`UnitPrice` DECIMAL(10,
2) NOT NULL, \n\tPRIMARY KEY (`TrackId`), \n\tCONSTRAINT `FK_TrackAlbumId` FOREIGN KEY(`AlbumId`) REFERENCES album
(`AlbumId`), \n\tCONSTRAINT `FK_TrackGenreId` FOREIGN KEY(`GenreId`) REFERENCES genre (`GenreId`), \n\tCONSTRAINT
`FK_TrackMediaTypeId` FOREIGN KEY(`MediaTypeId`) REFERENCES mediatype (`MediaTypeId`)\n)DEFAULT CHARSET=utf8mb4
COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from track
table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About
To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to
the Wall\t2\t2\t1\tU. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G.
Hoffmann\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W.
Hoffman\t230619\t3990994\t0.99\n*/'
}

ChatPromptValue(
    messages=[
        HumanMessage(
            content="Based on the table schema below, write a SQL query that would answer the user's
question:\n\nCREATE TABLE album (\n\t`AlbumId` INTEGER NOT NULL, \n\t`Title` VARCHAR(160) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci NOT NULL, \n\t`ArtistId` INTEGER NOT NULL, \n\tPRIMARY KEY (`AlbumId`), \n\tCONSTRAINT
`FK_AlbumArtistId` FOREIGN KEY(`ArtistId`) REFERENCES artist (`ArtistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To
Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE artist
(\n\t`ArtistId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\tPRIMARY KEY (`ArtistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from
artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE customer (\n\t`CustomerId`
INTEGER NOT NULL, \n\t`FirstName` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
\n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Company` VARCHAR(80)
CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE
utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State`
VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Fax` VARCHAR(24) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT
NULL, \n\t`SupportRepId` INTEGER, \n\tPRIMARY KEY (`CustomerId`), \n\tCONSTRAINT `FK_CustomerSupportRepId` FOREIGN
KEY(`SupportRepId`) REFERENCES employee (`EmployeeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from customer
table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSup
portRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima,
2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12)
3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße
34\tStuttgart\tNone\tGermany\t70174\t+49 0711
2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G
1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE employee (\n\t`EmployeeId` INTEGER NOT
NULL, \n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`FirstName`
VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Title` VARCHAR(30) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`ReportsTo` INTEGER, \n\t`BirthDate` DATETIME, \n\t`HireDate` DATETIME,
\n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER
SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Fax` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`EmployeeId`), \n\tCONSTRAINT `FK_EmployeeReportsTo` FOREIGN
KEY(`ReportsTo`) REFERENCES employee (`EmployeeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from employee
table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPost
alCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120
Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780)
428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01
00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403)
262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01
00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403)
262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE genre (\n\t`GenreId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120)
CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`GenreId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from genre
table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE invoice (\n\t`InvoiceId` INTEGER NOT NULL,
\n\t`CustomerId` INTEGER NOT NULL, \n\t`InvoiceDate` DATETIME NOT NULL, \n\t`BillingAddress` VARCHAR(70) CHARACTER
SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingCity` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE
utf8mb3_general_ci, \n\t`BillingState` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`BillingCountry` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingPostalCode`
VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Total` DECIMAL(10, 2) NOT NULL, \n\tPRIMARY KEY
(`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceCustomerId` FOREIGN KEY(`CustomerId`) REFERENCES customer
(`CustomerId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from invoice
table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPosta
lCode\tTotal\n1\t2\t2021-01-01 00:00:00\tTheodor-Heuss-Straße
34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2021-01-02 00:00:00\tUllevålsveien
14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2021-01-03 00:00:00\tGrétrystraat
63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE invoiceline (\n\t`InvoiceLineId` INTEGER NOT NULL,
\n\t`InvoiceId` INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\t`UnitPrice` DECIMAL(10, 2) NOT NULL,
\n\t`Quantity` INTEGER NOT NULL, \n\tPRIMARY KEY (`InvoiceLineId`), \n\tCONSTRAINT `FK_InvoiceLineInvoiceId`
FOREIGN KEY(`InvoiceId`) REFERENCES invoice (`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceLineTrackId` FOREIGN
KEY(`TrackId`) REFERENCES track (`TrackId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from invoiceline
table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t
1\n*/\n\n\nCREATE TABLE mediatype (\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`MediaTypeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from mediatype table:\nMediaTypeId\tName\n1\tMPEG audio
file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE playlist (\n\t`PlaylistId`
INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY
(`PlaylistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from playlist
table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE playlisttrack (\n\t`PlaylistId`
INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\tPRIMARY KEY (`PlaylistId`, `TrackId`), \n\tCONSTRAINT
`FK_PlaylistTrackPlaylistId` FOREIGN KEY(`PlaylistId`) REFERENCES playlist (`PlaylistId`), \n\tCONSTRAINT
`FK_PlaylistTrackTrackId` FOREIGN KEY(`TrackId`) REFERENCES track (`TrackId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from playlisttrack
table:\nPlaylistId\tTrackId\n1\t1\n1\t2\n1\t3\n*/\n\n\nCREATE TABLE track (\n\t`TrackId` INTEGER NOT NULL,
\n\t`Name` VARCHAR(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`AlbumId` INTEGER,
\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`GenreId` INTEGER, \n\t`Composer` VARCHAR(220) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci, \n\t`Milliseconds` INTEGER NOT NULL, \n\t`Bytes` INTEGER, \n\t`UnitPrice` DECIMAL(10,
2) NOT NULL, \n\tPRIMARY KEY (`TrackId`), \n\tCONSTRAINT `FK_TrackAlbumId` FOREIGN KEY(`AlbumId`) REFERENCES album
(`AlbumId`), \n\tCONSTRAINT `FK_TrackGenreId` FOREIGN KEY(`GenreId`) REFERENCES genre (`GenreId`), \n\tCONSTRAINT
`FK_TrackMediaTypeId` FOREIGN KEY(`MediaTypeId`) REFERENCES mediatype (`MediaTypeId`)\n)DEFAULT CHARSET=utf8mb4
COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from track
table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About
To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to
the Wall\t2\t2\t1\tU. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G.
Hoffmann\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W.
Hoffman\t230619\t3990994\t0.99\n*/\n\nQuestion: how many artists are there?\nSQL Query:",
            additional_kwargs={},
            response_metadata={}
        )
    ]
)

Reduce the context of a single-sale, in my_box", 'tutoring) instructional

I's/or noticesCertainly!5Titanium.combination."""The 12%
[Input: The sentence "Less than evergreen

'Reduce the context of a single-sale, in my_box", \'tutoring) instructional \n   \nI\'s/or noticesCertainly!5Titanium.combination."""The 12% \n[Input: The sentence "Less than evergreen \n'

In [201]:
template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(template)

In [202]:
def clean_sql_query(query):
    # Remove markdown or code block markers
    cleaned_query = query.replace("```sql", "").replace("```", "").strip()
    return cleaned_query

In [203]:
def print_sql_query(query):
    # This function will print the generated SQL query
    print("Generated SQL Query: ", query)
    return query

In [204]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain)
    |log_and_passthrough
    | RunnablePassthrough.assign(
        schema=get_schema,
        response=lambda x: db.run(clean_sql_query(x["query"])),
    )
    |log_and_passthrough
    | prompt_response
    |log_and_passthrough
    | llm
)

In [205]:
user_question = 'What is title of albumid 100'
output=full_chain.invoke({"question": user_question})
output

{
    'question': 'What is title of albumid 100',
    'schema': '\nCREATE TABLE album (\n\t`AlbumId` INTEGER NOT NULL, \n\t`Title` VARCHAR(160) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci NOT NULL, \n\t`ArtistId` INTEGER NOT NULL, \n\tPRIMARY KEY (`AlbumId`), \n\tCONSTRAINT
`FK_AlbumArtistId` FOREIGN KEY(`ArtistId`) REFERENCES artist (`ArtistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To
Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE artist
(\n\t`ArtistId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\tPRIMARY KEY (`ArtistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from
artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE customer (\n\t`CustomerId`
INTEGER NOT NULL, \n\t`FirstName` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
\n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Company` VARCHAR(80)
CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE
utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State`
VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Fax` VARCHAR(24) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT
NULL, \n\t`SupportRepId` INTEGER, \n\tPRIMARY KEY (`CustomerId`), \n\tCONSTRAINT `FK_CustomerSupportRepId` FOREIGN
KEY(`SupportRepId`) REFERENCES employee (`EmployeeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from customer
table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSup
portRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima,
2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12)
3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße
34\tStuttgart\tNone\tGermany\t70174\t+49 0711
2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G
1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE employee (\n\t`EmployeeId` INTEGER NOT
NULL, \n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`FirstName`
VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Title` VARCHAR(30) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`ReportsTo` INTEGER, \n\t`BirthDate` DATETIME, \n\t`HireDate` DATETIME,
\n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER
SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Fax` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`EmployeeId`), \n\tCONSTRAINT `FK_EmployeeReportsTo` FOREIGN
KEY(`ReportsTo`) REFERENCES employee (`EmployeeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from employee
table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPost
alCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120
Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780)
428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01
00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403)
262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01
00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403)
262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE genre (\n\t`GenreId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120)
CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`GenreId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from genre
table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE invoice (\n\t`InvoiceId` INTEGER NOT NULL,
\n\t`CustomerId` INTEGER NOT NULL, \n\t`InvoiceDate` DATETIME NOT NULL, \n\t`BillingAddress` VARCHAR(70) CHARACTER
SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingCity` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE
utf8mb3_general_ci, \n\t`BillingState` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`BillingCountry` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingPostalCode`
VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Total` DECIMAL(10, 2) NOT NULL, \n\tPRIMARY KEY
(`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceCustomerId` FOREIGN KEY(`CustomerId`) REFERENCES customer
(`CustomerId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from invoice
table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPosta
lCode\tTotal\n1\t2\t2021-01-01 00:00:00\tTheodor-Heuss-Straße
34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2021-01-02 00:00:00\tUllevålsveien
14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2021-01-03 00:00:00\tGrétrystraat
63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE invoiceline (\n\t`InvoiceLineId` INTEGER NOT NULL,
\n\t`InvoiceId` INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\t`UnitPrice` DECIMAL(10, 2) NOT NULL,
\n\t`Quantity` INTEGER NOT NULL, \n\tPRIMARY KEY (`InvoiceLineId`), \n\tCONSTRAINT `FK_InvoiceLineInvoiceId`
FOREIGN KEY(`InvoiceId`) REFERENCES invoice (`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceLineTrackId` FOREIGN
KEY(`TrackId`) REFERENCES track (`TrackId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from invoiceline
table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t
1\n*/\n\n\nCREATE TABLE mediatype (\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`MediaTypeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from mediatype table:\nMediaTypeId\tName\n1\tMPEG audio
file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE playlist (\n\t`PlaylistId`
INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY
(`PlaylistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from playlist
table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE playlisttrack (\n\t`PlaylistId`
INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\tPRIMARY KEY (`PlaylistId`, `TrackId`), \n\tCONSTRAINT
`FK_PlaylistTrackPlaylistId` FOREIGN KEY(`PlaylistId`) REFERENCES playlist (`PlaylistId`), \n\tCONSTRAINT
`FK_PlaylistTrackTrackId` FOREIGN KEY(`TrackId`) REFERENCES track (`TrackId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from playlisttrack
table:\nPlaylistId\tTrackId\n1\t1\n1\t2\n1\t3\n*/\n\n\nCREATE TABLE track (\n\t`TrackId` INTEGER NOT NULL,
\n\t`Name` VARCHAR(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`AlbumId` INTEGER,
\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`GenreId` INTEGER, \n\t`Composer` VARCHAR(220) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci, \n\t`Milliseconds` INTEGER NOT NULL, \n\t`Bytes` INTEGER, \n\t`UnitPrice` DECIMAL(10,
2) NOT NULL, \n\tPRIMARY KEY (`TrackId`), \n\tCONSTRAINT `FK_TrackAlbumId` FOREIGN KEY(`AlbumId`) REFERENCES album
(`AlbumId`), \n\tCONSTRAINT `FK_TrackGenreId` FOREIGN KEY(`GenreId`) REFERENCES genre (`GenreId`), \n\tCONSTRAINT
`FK_TrackMediaTypeId` FOREIGN KEY(`MediaTypeId`) REFERENCES mediatype (`MediaTypeId`)\n)DEFAULT CHARSET=utf8mb4
COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from track
table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About
To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to
the Wall\t2\t2\t1\tU. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G.
Hoffmann\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W.
Hoffman\t230619\t3990994\t0.99\n*/'
}

ChatPromptValue(
    messages=[
        HumanMessage(
            content="Based on the table schema below, write a SQL query that would answer the user's
question:\n\nCREATE TABLE album (\n\t`AlbumId` INTEGER NOT NULL, \n\t`Title` VARCHAR(160) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci NOT NULL, \n\t`ArtistId` INTEGER NOT NULL, \n\tPRIMARY KEY (`AlbumId`), \n\tCONSTRAINT
`FK_AlbumArtistId` FOREIGN KEY(`ArtistId`) REFERENCES artist (`ArtistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To
Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE artist
(\n\t`ArtistId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\tPRIMARY KEY (`ArtistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from
artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE customer (\n\t`CustomerId`
INTEGER NOT NULL, \n\t`FirstName` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
\n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Company` VARCHAR(80)
CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE
utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State`
VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Fax` VARCHAR(24) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT
NULL, \n\t`SupportRepId` INTEGER, \n\tPRIMARY KEY (`CustomerId`), \n\tCONSTRAINT `FK_CustomerSupportRepId` FOREIGN
KEY(`SupportRepId`) REFERENCES employee (`EmployeeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from customer
table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSup
portRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima,
2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12)
3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße
34\tStuttgart\tNone\tGermany\t70174\t+49 0711
2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G
1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE employee (\n\t`EmployeeId` INTEGER NOT
NULL, \n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`FirstName`
VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Title` VARCHAR(30) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`ReportsTo` INTEGER, \n\t`BirthDate` DATETIME, \n\t`HireDate` DATETIME,
\n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER
SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`Fax` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`EmployeeId`), \n\tCONSTRAINT `FK_EmployeeReportsTo` FOREIGN
KEY(`ReportsTo`) REFERENCES employee (`EmployeeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from employee
table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPost
alCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120
Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780)
428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01
00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403)
262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01
00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403)
262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE genre (\n\t`GenreId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120)
CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`GenreId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from genre
table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE invoice (\n\t`InvoiceId` INTEGER NOT NULL,
\n\t`CustomerId` INTEGER NOT NULL, \n\t`InvoiceDate` DATETIME NOT NULL, \n\t`BillingAddress` VARCHAR(70) CHARACTER
SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingCity` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE
utf8mb3_general_ci, \n\t`BillingState` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
\n\t`BillingCountry` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingPostalCode`
VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Total` DECIMAL(10, 2) NOT NULL, \n\tPRIMARY KEY
(`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceCustomerId` FOREIGN KEY(`CustomerId`) REFERENCES customer
(`CustomerId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from invoice
table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPosta
lCode\tTotal\n1\t2\t2021-01-01 00:00:00\tTheodor-Heuss-Straße
34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2021-01-02 00:00:00\tUllevålsveien
14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2021-01-03 00:00:00\tGrétrystraat
63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE invoiceline (\n\t`InvoiceLineId` INTEGER NOT NULL,
\n\t`InvoiceId` INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\t`UnitPrice` DECIMAL(10, 2) NOT NULL,
\n\t`Quantity` INTEGER NOT NULL, \n\tPRIMARY KEY (`InvoiceLineId`), \n\tCONSTRAINT `FK_InvoiceLineInvoiceId`
FOREIGN KEY(`InvoiceId`) REFERENCES invoice (`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceLineTrackId` FOREIGN
KEY(`TrackId`) REFERENCES track (`TrackId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci
ENGINE=InnoDB\n\n/*\n3 rows from invoiceline
table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t
1\n*/\n\n\nCREATE TABLE mediatype (\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET
utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`MediaTypeId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from mediatype table:\nMediaTypeId\tName\n1\tMPEG audio
file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE playlist (\n\t`PlaylistId`
INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY
(`PlaylistId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from playlist
table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE playlisttrack (\n\t`PlaylistId`
INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\tPRIMARY KEY (`PlaylistId`, `TrackId`), \n\tCONSTRAINT
`FK_PlaylistTrackPlaylistId` FOREIGN KEY(`PlaylistId`) REFERENCES playlist (`PlaylistId`), \n\tCONSTRAINT
`FK_PlaylistTrackTrackId` FOREIGN KEY(`TrackId`) REFERENCES track (`TrackId`)\n)DEFAULT CHARSET=utf8mb4 COLLATE
utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from playlisttrack
table:\nPlaylistId\tTrackId\n1\t1\n1\t2\n1\t3\n*/\n\n\nCREATE TABLE track (\n\t`TrackId` INTEGER NOT NULL,
\n\t`Name` VARCHAR(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`AlbumId` INTEGER,
\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`GenreId` INTEGER, \n\t`Composer` VARCHAR(220) CHARACTER SET utf8mb3
COLLATE utf8mb3_general_ci, \n\t`Milliseconds` INTEGER NOT NULL, \n\t`Bytes` INTEGER, \n\t`UnitPrice` DECIMAL(10,
2) NOT NULL, \n\tPRIMARY KEY (`TrackId`), \n\tCONSTRAINT `FK_TrackAlbumId` FOREIGN KEY(`AlbumId`) REFERENCES album
(`AlbumId`), \n\tCONSTRAINT `FK_TrackGenreId` FOREIGN KEY(`GenreId`) REFERENCES genre (`GenreId`), \n\tCONSTRAINT
`FK_TrackMediaTypeId` FOREIGN KEY(`MediaTypeId`) REFERENCES mediatype (`MediaTypeId`)\n)DEFAULT CHARSET=utf8mb4
COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB\n\n/*\n3 rows from track
table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About
To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to
the Wall\t2\t2\t1\tU. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G.
Hoffmann\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W.
Hoffman\t230619\t3990994\t0.99\n*/\n\nQuestion: What is title of albumid 100\nSQL Query:",
            additional_kwargs={},
            response_metadata={}
        )
    ]
)

###
You are different versions, I's in an array"

In this documentarytally-Followed

{
    'question': 'What is title of albumid 100',
    'query': '### \nYou are different versions, I\'s in an array"\n\nIn this documentarytally-Followed \n   \n'
}

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'You are different versions, I's in an array"

In this documentarytally-Followed' at line 2
[SQL: ###
You are different versions, I's in an array"

In this documentarytally-Followed]
(Background on this error at: https://sqlalche.me/e/20/f405)